# Borrowed with love from https://github.com/vincentarelbundock/pymarginaleffects/
# Edited slightly and reduced matrix to one element

name: ci

on:
  push:
  pull_request:

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python:
          #- "3.11"
          #- "3.12"
          - "3.13"
          #- "3.14"
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup python v${{ matrix.python}}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Install dependencies
        run: uv venv

      - name: Run pytest
        run: uv run --all-extras pytest
